{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>TeLoEnvio</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    * {
      font-family: 'Poppins', sans-serif;
    }

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: none;
      color: white;
    }

    .main {
      min-height: 700px;
    }

    footer {

      background-color: gray;
      color: white;
      min-height: 150px;
    }

    .cont-card img:hover {
      width: 205px;


    }
  </style>

</head>

<body>


  <nav class="navbar navbar-expand-md" style="background-color: #36858A;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">


      <ul class="navbar-nav " >

        {% if user.is_authenticated %}
        <li class="nav-itauem">
            <a class="nav-link" href="/tomar_pedido_cliente/">Crear Pedido</a>
          <a class="nav-link" href="/logout_view/"> Cerrar Sesion</a>


        </li>
        <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
            style="background-color: #51bdba;">Carrito
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="color:black; width: 500px;">
            {% for x in request.session.carrito %}
            <li>
                <div class="card">
                    <div class="card-header">{{x.cantidad}} unidades de {{x.nombre}}</div>
                </div>
            </li>

            {% endfor %}
        </ul>

                {% else %}
        <a class="nav-link" href="/login_view/"> Iniciar Sesion</a>
        <a class="nav-link" href="/producto/"> Galeria</a>
            
 {% endif %}
      </div>
      </ul>
    </div>
  </nav>

  <div class="container-fluid main  ">

    {% block contenido %}
    {% endblock %}
  </div>
  <footer class="footer justify-content-center text-center">
    <div>  </div>
    <div class="container-fluid">
      <p>&copy; 2023 teloenvio.com. Todos los derechos reservados.</p>

    </div>
    
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>